h1,h2,h3,h4,h5,h6,hr,p,blockquote,div,span,a,pre,form,fieldset,legend,button,input,textarea,dl,dt,dd,ul,ol,li{max-height:9999px}
@media(min-width:751px){.container{width:700px}
}
@media(min-width:1031px){.container{width:990px}
}
@media(min-width:1261px){.container{width:1240px}
}
body{background:#f8f8f8}
dl,dt,dd{font-weight:normal}
.adap-left{float:left}
.adap-center{overflow:hidden}
.adap-right{float:right}
.pr{position:relative}
.abs-t{position:absolute;top:0;left:0;z-index:99}
.abs-b{position:absolute;bottom:0;left:0}
.md-lg-show{display:block !important}
@media(max-width:750px){.md-lg-show{display:none !important}
}
.item-xs-show{display:none}
@media(max-width:750px){.item-xs-show{display:block}
}
@media(min-width:750px){.has-hover-list li{transition:all .2s linear}
.has-hover-list .item:hover{-moz-box-shadow:0 03px 15px rgba(0,0,0,0.1);-ms-box-shadow:0 03px 15px rgba(0,0,0,0.1);-o-box-shadow:0 03px 15px rgba(0,0,0,0.1);-webkit-box-shadow:0 03px 15px rgba(0,0,0,0.1);box-shadow:0 03px 15px rgba(0,0,0,0.1);-moz-transform:translate3d(0,-2px,0);-ms-transform:translate3d(0,-2px,0);-o-transform:translate3d(0,-2px,0);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0)}
}
.opacity-bg{width:100%;height:40px;line-height:40px;color:#fff;text-align:center}
.opacity-bg-black{background:rgba(0,0,0,0.5)}
.oray-label{width:60px;height:20px;line-height:20px;color:#fff;text-align:center}
.oray-label-hsk{background:#ff0042}
.oray-label-sun{background:#ff8a56}
.oray-label-pgy{background:#0078d7}
.oray-label-domain{background:#68a2ea}
.block-link{display:block;width:100%;height:100%}
.f32{font-size:32px}
.grey{color:#999}
.f24{font-size:24px}
.f22{font-size:22px}
.f20{font-size:20px}
.sec-list{padding-right:0;padding-left:0}
.sec-list .row{margin-left:-8px;margin-right:-8px}
.sec-list .item-wrap{padding:8px}
@media(max-width:750px){.sec-list{overflow:hidden}
}
.response-container{width:1240px;margin:0 auto}
@media(max-width:1260px){body{min-width:320px}
.response-container{width:990px;min-width:320px}
}
@media(max-width:1030px){.response-container{width:700px;min-width:320px}
}
@media(max-width:750px){.response-container{width:100%;min-width:320px}
}
.index-header-wrap{height:90px;line-height:90px;background:#fff}
.index-header-wrap .response-container{position:relative;height:100%}
.index-header-wrap .logo{float:left;width:70px;height:90px}
.index-header-wrap h1 img{height:100%;vertical-align:bottom}
.index-header-wrap .login-info{float:right;height:90px;line-height:90px;margin-left:20px}
.index-header-wrap .login-info .nav-menu{width:215px;right:0}
.index-header-wrap .login-info .nav-menu a{padding:0 12px}
.index-header-wrap .login-info .register{color:#ff0042;margin-left:15px}
.index-header-wrap .nav-menu li .icon{margin-right:8px}
.index-header-wrap .nav-list-box{float:right;height:90px;line-height:90px}
.index-header-wrap .nav-list .nav-item{float:left;text-align:center;position:relative;font-size:18px;width:140px}
.index-header-wrap .nav-list .nav-item.oray-item{display:none}
.index-header-wrap .nav-list .nav-item a{display:block;height:100%;width:100%;text-decoration:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.index-header-wrap .nav-list .nav-item a img{display:none}
.index-header-wrap .nav-list .nav-item a:hover{background-color:#eaeaea;color:#ff0042}
.index-header-wrap .nav-close{width:10%;margin:10% auto 5%;text-align:center;display:none}
.index-header-wrap .right-nav-list-box{position:absolute;top:55px;z-index:7999;width:100%;background:#fff;display:none}
.index-header-wrap .right-nav-list-box .right-nav-list{border-top:1px solid #e1e1e1;padding-left:15px;text-align:left}
.right-nav-list li{height:47px;line-height:47px;border-bottom:1px solid #ddd;color:#333;padding-right:15px}
.right-nav-list li .adap-left,.right-nav-list li .adap-center,.right-nav-list li .adap-right{height:46px}
.right-nav-list li .adap-center{padding-left:10px}
.right-nav-list li i{color:#ff0042}
.right-btn-ul{margin-top:30px}
.right-btn-ul li{float:left;padding:0 5%;width:50%;text-align:center}
.right-btn-ul li .btn{width:100%;height:44px;line-height:44px;border-radius:4px;font-size:16px}
.index-header-wrap .left-nav,.index-header-wrap .right-nav{position:absolute;top:0;left:0;display:none}
.index-header-wrap .right-nav{left:auto;right:0}
.dropdown-list{position:absolute;z-index:7999;display:none}
.dropdown-list,.dropdown-list ul,.dropdown-list li{width:100% !important;height:40px !important;line-height:40px !important;font-size:14px !important}
.dropdown-list li a{background:rgba(51,51,51,0.5) !important;color:#fff}
.dropdown-list li a:hover{background:rgba(102,102,102,0.9) !important;background:#505050\9;color:#fff !important}
@media(max-width:1260px){.index-header-wrap .nav-list .nav-item{width:100px}
.index-header-wrap .login-info{margin-left:10px}
.index-header-wrap .login-info .register{margin-left:10px}
.index-header-wrap .login-info a{font-size:12px;text-decoration:none}
}
@media(max-width:1030px){.index-header-wrap,.index-header-wrap .login-info,.index-header-wrap .nav-list,.index-header-wrap .nav-list-box{height:60px;line-height:60px}
.index-header-wrap .logo{height:60px;width:46px}
.index-header-wrap .nav-list .nav-item{width:75px;font-size:14px}
.index-header-wrap .login-info{margin-left:10px}
.index-header-wrap .login-info .register{margin-left:10px}
.index-header-wrap .login-info a{font-size:12px;text-decoration:none}
}
@media(max-width:750px){.index-header-wrap,.index-header-wrap .response-container{text-align:center;height:55px;line-height:55px}
.index-header-wrap .nav-list-box{height:auto;z-index:7999;padding-bottom:10%;overflow:auto;border-top:1px solid #e1e1e1}
.index-header-wrap .nav-list-box ul{padding-top:6%}
.index-header-wrap .left-nav a,.index-header-wrap .right-nav a{height:54px;line-height:54px}
.index-header-wrap,.index-header-wrap .logo{height:55px}
.index-header-wrap .logo{float:none;display:inline-block}
.index-header-wrap .nav-list-box{position:absolute;background:#fff;top:55px;width:100%;display:none}
.index-header-wrap .nav-list{height:auto;line-height:normal;float:none;margin-right:0}
.index-header-wrap .nav-list .nav-item{float:none;text-align:left;width:60%;margin:0 auto}
.index-header-wrap .nav-list .nav-item.oray-item{display:block}
.index-header-wrap .nav-list .nav-item a{height:44px;line-height:44px;display:block;box-sizing:border-box;display:block;width:100%;border-bottom:1px solid #e1e1e1}
.index-header-wrap .nav-list .nav-item a *{vertical-align:middle}
.index-header-wrap .nav-list .nav-item a span{color:#333;margin-left:10px}
.index-header-wrap .nav-list .nav-item a img{display:inline-block}
.index-header-wrap .nav-close{display:block;margin:5% auto}
.index-header-wrap .right-nav{right:15px}
.index-header-wrap .left-nav{display:block;left:15px}
.index-header-wrap .login-info{display:none}
.index-header-wrap .right-nav{display:block}
}
.banner-wrap{width:100%;*width:1240px;*margin:0 auto;position:relative}
.banner-wrap .notice{position:absolute;bottom:20px;left:70%;margin-left:-180px;background-color:#fff;padding:1px 20px 2px 5px;border-radius:14px;height:24px;width:360px;-moz-border-radius:14px;-khtml-border-radius:14px;-webkit-border-radius:14px;box-shadow:rgba(102,102,102,0.5) 0 0 6px;-khtml-box-shadow:rgba(102,102,102,0.5) 0 0 6px;-webkit-box-shadow:rgba(102,102,102,0.5) 0 0 6px;-moz-box-shadow:rgba(102,102,102,0.5) 0 0 6px;overflow:hidden;z-index:100}
.banner-wrap .notice a.icon-close{position:absolute;right:8px;top:8px}
.banner-wrap .notice ul{margin:0;padding:0;list-style:none;width:360px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.banner-wrap .notice ul li{line-height:22px}
.banner-wrap .notice a.text{font-size:14px;color:#333;text-decoration:none;text-align:left;line-height:20px;height:20px;width:360px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.banner-wrap .notice a.text span{margin-right:5px}
.icon-message{background-position:-40px 0}
.icon-close{width:10px;height:10px;background:url(../img/icon_close_140428.png) no-repeat 0 0;_background-image:url(../img/icon_close_140428.gif);cursor:pointer}
.notice-win .title{font-size:22px;color:#333;text-align:center;margin-bottom:30px;height:35px;line-height:35px}
.notice-win .icon-message{background-position:0 0}
.notice-win .icon-big{margin-right:15px}
.icon-big{display:inline-block;zoom:1;width:35px;height:35px;background:url(../img/icon_big_140428.gif) no-repeat;vertical-align:middle}
.notice-win .content{font-size:14px;line-height:2em;color:#6a6a6a;padding:0 15px 15px 15px}
.timer{position:absolute;top:0;left:60%;height:40px;line-height:40px;background-color:#fff;border:1px solid #d9d9d9;font-size:18px;color:#6a6a6a;padding:0 10px 0 50px;-moz-border-radius:0 0 10px 10px;-khtml-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}
.timer span{display:inline-block;height:32px;width:32px;background:url(../img/clock_141104.gif) no-repeat center center;position:absolute;top:4px;left:10px}
.timer strong{color:#333;font-weight:normal;font-size:20px}
.banner-wrap .arrow-sprite{display:inline-block;width:57px;height:100px;background-image:url(../img/arrow-sprite.png);background-repeat:no-repeat;position:absolute;z-index:9}
.banner-wrap .arrow-left,.banner-wrap .arrow-right{left:0;top:50%;margin-top:-50px;background-position:0 0}
.banner-wrap .arrow-right{left:auto;right:0;background-position:-57px 0}
.banner-wrap .carousel-control.left,.banner-wrap .carousel-control.right{background-image:none}
@media(max-width:750px){.banner-wrap{width:100%;margin:0 auto}
}
.section-wrap .til{padding:60px 0 40px 0;font-size:28px;color:#333;line-height:28px;text-align:center}
.product-list{text-align:center}
.product-list .item{background:#fff;height:350px;padding-top:65px}
.product-list .item img{vertical-align:bottom}
.product-list .item h3{font-size:16px;color:#333;line-height:16px;margin-top:40px}
.product-list .item .describe{color:#999;line-height:14px;margin-top:12px}
.product-list .item .price{line-height:16px;margin-top:30px}
@media(max-width:1260px){.section-wrap .til{padding:40px 0 20px 0;font-size:20px;line-height:20px}
}
@media(max-width:750px){.section-wrap .til{padding:15px 0 10px 0;font-size:16px;line-height:16px}
.product-list .item{background:#fff;height:auto;padding:30px 0 20px 0}
.product-list .item h3{margin-top:23px;font-size:14px}
.product-list .item .describe{display:none}
.product-list .item .price{margin-top:15px;font-size:14px}
.product-list .item img{height:70px;width:auto}
}
@media(max-width:360px){.product-list .item h3{font-size:12px}
}
.product-pic{background-color:#000}
.product-pic:hover img{opacity:.95}
.brand-list li{position:relative}
.brand-list li a.oray-label:hover{color:#fff}
.brand-list li a.oray-label{top:8px;left:50%;margin-left:-30px;z-index:100}
.brand-list .product-pic img{display:block;width:100%;height:auto}
.brand-list .product-pic .oray-label{left:50%;margin-left:-30px}
.brand-list-ul{padding:15px 0;background-color:#fff}
.brand-list-ul li{padding:30px 20px;cursor:pointer;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.product-hsb:hover dl dd{color:#ff0042}
.product-hsb:hover dl dt{color:#ff0042}
.product-hardware:hover dl dd{color:#ffb647}
.product-hardware:hover dl dt{color:#ffb647}
.product-router:hover dl dd{color:#48a7f4}
.product-router:hover dl dt{color:#48a7f4}
.product-domain:hover dl dd{color:#657b91}
.product-domain:hover dl dt{color:#657b91}
.brand-list-ul .icon-sprite{display:inline-block;width:46px;height:40px;background-image:url(../img/icon_sprite.png);background-repeat:no-repeat;background-position:0 0}
.brand-list-ul dl{float:left;margin-left:15px}
.brand-list-ul dt{font-size:16px;color:#333}
.brand-list-ul dd{font-size:12px;color:#6a6a6a}
.brand-list .md-item-info{display:none;padding:20px;background:#fff}
.brand-list .md-item-info h3{font-size:18px;line-height:18px;color:#333}
.brand-list .md-item-info p{line-height:14px;color:#999;margin-top:9px}
.brand-list .form-domain{position:absolute;width:100%;top:40px;left:0;height:38px;line-height:38px}
.brand-list .form-domain .form-search{padding:0 16px}
.brand-list .form-domain .domain-item-wrap{text-align:center}
.brand-list .form-domain .domain-item-wrap *{color:#fff;margin:0 13px}
.brand-list .form-domain input.text{width:183px;height:38px;line-height:38px;padding:0 5px;border:0;font-size:12px;outline:0}
.brand-list .form-domain .btn{width:80px;border-radius:0;height:38px;line-height:38px;border:0;background:#f86106;color:#fff;font-size:16px}
@media(max-width:1260px){.brand-list .brand-list-ul li{padding:20px 5px}
.brand-list .brand-list-ul dl{margin-left:1px}
.brand-list .brand-list-ul dd,.brand-list .brand-list-ul dt{width:156px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.brand-list .form-domain input.text{width:120px}
}
@media(max-width:1030px){.brand-list .brand-list-ul,.brand-list .opacity-bg{display:none}
.brand-list .md-item-info{display:block}
.brand-list .form-domain{top:65px}
.brand-list .form-domain .form-search{padding:0 39px}
.brand-list .form-domain input.text{width:180px}
}
@media(max-width:750px){.brand-section{display:none}
}
.nav{background-color:#fff;padding:1rem 0;box-sizing:border-box;display:none}
.nav ul li{width:25%;float:left;height:100%}
.nav ul li a{display:block;width:100%;height:100%;text-align:center;vertical-align:middle}
.nav ul li strong{display:block;color:#6a6a6a;line-height:14px;margin-top:10px}
@media(max-width:750px){.nav{display:block}
}